:root {
  --light: #f6f6f6;
  --darkblue: #2c3e50;
  --lightblue: #3498db;
  --red: #e74c3c;
  --lightred: #f9eae7;
  --lightyellow: #fff5d1;
}

/* Apply custom Google font */
body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* Shared custom styles for headers */
.header,
.custom-card-header,
.btn-custom {
  background: rgb(132,199,242);
  background: linear-gradient(
    90deg,
    rgba(132,199,242,1) 0%,
    rgba(123,232,245,1) 51%,
    rgba(34,141,163,1) 100%);
}

.btn-custom:hover {
  color: #303394;
}


.swim-lanes {
  min-height: 60vh;
}

#dynamic-search-history button {
  margin-bottom: 10px;
  margin-top: 10px;
}

.custom-col-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .custom-col-20 {
  flex: 0 0 100%;
  max-width: 100%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .custom-col-20 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .custom-col-20 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .custom-col-20 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .card-header h2 {
    font-size: 25px;
    white-space: nowrap;
  overflow: hidden;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .custom-col-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .card-header h2 {
    font-size: 25px;
    white-space: nowrap;
  overflow: hidden;
  }
}



/* style project rows based on status (late, due today) */
/* .project-late {
  background-color: var(--lightred);
}

.project-today {
  background-color: var(--lightyellow);
} */
