body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

h1,h2,h4 {
  font-weight: 750;
}

.header,
.custom-card-header,
.btn-custom {
  background: rgb(132,199,242);
  background: linear-gradient(
    90deg,
    rgba(132,199,242,1) 0%,
    rgba(123,232,245,1) 51%,
    rgba(34,141,163,1) 100%);
}

.btn-custom:hover {
  color: #303394;
}

.card {
  min-height: 30vh;
}

#history-display button, .btn-custom {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
}

.custom-col-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

#temp-today,
#wind-today,
#humidity-today,
#temp-day1,
#wind-day1,
#humidity-day1,
#temp-day2,
#wind-day2,
#humidity-day2,
#temp-day3,
#wind-day3,
#humidity-day3,
#temp-day4,
#wind-day4,
#humidity-day4,
#temp-day5,
#wind-day5,
#humidity-day5 {
  font-size: 30px;
}


/* Below here is only media query stuff */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .custom-col-20 {
  flex: 0 0 100%;
  max-width: 100%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .custom-col-20 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .custom-col-20 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .custom-col-20 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .card-header h2 {
    font-size: 25px;
    white-space: nowrap;
  overflow: hidden;
  }
  #history-display button, .btn-custom {
    font-size: 20px;
  }
  #temp-today,
  #wind-today,
  #humidity-today,
  #temp-day1,
  #wind-day1,
  #humidity-day1,
  #temp-day2,
  #wind-day2,
  #humidity-day2,
  #temp-day3,
  #wind-day3,
  #humidity-day3,
  #temp-day4,
  #wind-day4,
  #humidity-day4,
  #temp-day5,
  #wind-day5,
  #humidity-day5 {
    font-size: 20px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .custom-col-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .card-header h2 {
    font-size: 25px;
    white-space: nowrap;
  overflow: hidden;
  }
  #history-display button, .btn-custom {
    font-size: 15px;
  }
  #temp-today,
  #wind-today,
  #humidity-today,
  #temp-day1,
  #wind-day1,
  #humidity-day1,
  #temp-day2,
  #wind-day2,
  #humidity-day2,
  #temp-day3,
  #wind-day3,
  #humidity-day3,
  #temp-day4,
  #wind-day4,
  #humidity-day4,
  #temp-day5,
  #wind-day5,
  #humidity-day5 {
    font-size: 15px;
  }
}